#container {
  padding:20px;
  max-width: 750px;
  margin: auto;
}

.numInput {
  min-width: 50px;
}

.submitterButton {
  width: 100%;
}

.taskCreator {
  margin-bottom: 20px;
}

.categoryHeader {
  margin-bottom: 20px;
}

.timer-section {
  margin-top: 15px;
}
